<a href="https://colab.research.google.com/github/SpineSoloh/Luyten-a/blob/main/House_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# Defining Variable Data_1 and opening a CSV file

In [ ]:
Data_1= pd.read_csv('/content/drive/MyDrive/House-Data.csv')

In [ ]:
pd.read_csv('House-Data.csv').head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,160,FV,40.0,3951,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,164500
1,1,60,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,3,2006,WD,Normal,162900
2,2,60,RL,68.0,10769,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,212000
3,3,20,RL,74.0,5868,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,129000
4,4,20,RL,80.0,10400,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2009,WD,Family,152000

In [ ]:
print(Data_1.describe)
print(Data_1.shape)

<bound method NDFrame.describe of         Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        0         160       FV         40.0     3951   Pave  Pave      Reg
1        1          60       RL         78.0    10140   Pave   NaN      Reg
2        2          60       RL         68.0    10769   Pave   NaN      IR1
3        3          20       RL         74.0     5868   Pave   NaN      Reg
4        4          20       RL         80.0    10400   Pave   NaN      Reg
...    ...         ...      ...          ...      ...    ...   ...      ...
1309  1309          20       RL         80.0     9600   Pave   NaN      Reg
1310  1310          20       RL         60.0     7200   Pave   NaN      Reg
1311  1311          60       RL          NaN     7685   Pave   NaN      IR1
1312  1312          20       RL         70.0    10500   Pave   NaN      Reg
1313  1313          20       RL         83.0    10420   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1            Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1309         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1310         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1311         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1312         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1313         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         6   2009       New        Partial     164500
1         3   2006        WD         Normal     162900
2         4   2009        WD         Normal     212000
3         5   2010        WD         Normal     129000
4         6   2009        WD         Family     152000
...     ...    ...       ...            ...        ...
1309     10   2009        WD         Normal     167000
1310      7   2008        WD         Normal      98300
1311      5   2006        WD         Normal     165600
1312      4   2010     ConLI         Normal     115000
1313      3   2010        WD         Normal     186000

[1314 rows x 81 columns]>
(1314, 81)

# Finding Null Values

In [ ]:
print(Data_1.isnull())
print(Data_1.isnull().sum())
print(Data_1.isnull().sum().sum())

         Id  MSSubClass  MSZoning  LotFrontage  LotArea  Street  Alley  \
0     False       False     False        False    False   False  False
1     False       False     False        False    False   False   True
2     False       False     False        False    False   False   True
3     False       False     False        False    False   False   True
4     False       False     False        False    False   False   True
...     ...         ...       ...          ...      ...     ...    ...
1309  False       False     False        False    False   False   True
1310  False       False     False        False    False   False   True
1311  False       False     False         True    False   False   True
1312  False       False     False        False    False   False   True
1313  False       False     False        False    False   False   True

      LotShape  LandContour  Utilities  ...  PoolArea  PoolQC  Fence  \
0        False        False      False  ...     False    True   True
1        False        False      False  ...     False    True  False
2        False        False      False  ...     False    True   True
3        False        False      False  ...     False    True   True
4        False        False      False  ...     False    True  False
...        ...          ...        ...  ...       ...     ...    ...
1309     False        False      False  ...     False    True   True
1310     False        False      False  ...     False    True   True
1311     False        False      False  ...     False    True   True
1312     False        False      False  ...     False    True   True
1313     False        False      False  ...     False    True   True

      MiscFeature  MiscVal  MoSold  YrSold  SaleType  SaleCondition  SalePrice
0            True    False   False   False     False          False      False
1            True    False   False   False     False          False      False
2            True    False   False   False     False          False      False
3            True    False   False   False     False          False      False
4            True    False   False   False     False          False      False
...           ...      ...     ...     ...       ...            ...        ...
1309         True    False   False   False     False          False      False
1310         True    False   False   False     False          False      False
1311         True    False   False   False     False          False      False
1312         True    False   False   False     False          False      False
1313         True    False   False   False     False          False      False

[1314 rows x 81 columns]
Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      230
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64
6272

# finding duplicated values

In [ ]:
print(Data_1.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1309    False
1310    False
1311    False
1312    False
1313    False
Length: 1314, dtype: bool

# Filling the Null Values

In [ ]:
Data_2 = (Data_1.fillna(value=0))
print(Data_2)

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        0         160       FV         40.0     3951   Pave  Pave      Reg
1        1          60       RL         78.0    10140   Pave     0      Reg
2        2          60       RL         68.0    10769   Pave     0      IR1
3        3          20       RL         74.0     5868   Pave     0      Reg
4        4          20       RL         80.0    10400   Pave     0      Reg
...    ...         ...      ...          ...      ...    ...   ...      ...
1309  1309          20       RL         80.0     9600   Pave     0      Reg
1310  1310          20       RL         60.0     7200   Pave     0      Reg
1311  1311          60       RL          0.0     7685   Pave     0      IR1
1312  1312          20       RL         70.0    10500   Pave     0      Reg
1313  1313          20       RL         83.0    10420   Pave     0      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0      0      0           0       0
1            Lvl    AllPub  ...        0      0   GdWo           0       0
2            Lvl    AllPub  ...        0      0      0           0       0
3            Lvl    AllPub  ...        0      0      0           0       0
4            Lvl    AllPub  ...        0      0  MnPrv           0       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1309         Lvl    AllPub  ...        0      0      0           0       0
1310         Lvl    AllPub  ...        0      0      0           0       0
1311         Lvl    AllPub  ...        0      0      0           0       0
1312         Lvl    AllPub  ...        0      0      0           0       0
1313         Lvl    AllPub  ...        0      0      0           0       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         6   2009       New        Partial     164500
1         3   2006        WD         Normal     162900
2         4   2009        WD         Normal     212000
3         5   2010        WD         Normal     129000
4         6   2009        WD         Family     152000
...     ...    ...       ...            ...        ...
1309     10   2009        WD         Normal     167000
1310      7   2008        WD         Normal      98300
1311      5   2006        WD         Normal     165600
1312      4   2010     ConLI         Normal     115000
1313      3   2010        WD         Normal     186000

[1314 rows x 81 columns]

# checking if data_2 with null value is filled with 0

In [ ]:

print(Data_2.isnull().sum().sum)

<bound method NDFrame._add_numeric_operations.<locals>.sum of Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 81, dtype: int64>

# splitting data into dependent and independent variables

In [ ]:
X = Data_1.iloc[:,1:4]
Y = Data_1.iloc[:,5]
print(x)
print(Y)

      MSSubClass MSZoning  LotFrontage
0            160       FV         40.0
1             60       RL         78.0
2             60       RL         68.0
3             20       RL         74.0
4             20       RL         80.0
...          ...      ...          ...
1309          20       RL         80.0
1310          20       RL         60.0
1311          60       RL          NaN
1312          20       RL         70.0
1313          20       RL         83.0

[1314 rows x 3 columns]
0       Pave
1       Pave
2       Pave
3       Pave
4       Pave
        ...
1309    Pave
1310    Pave
1311    Pave
1312    Pave
1313    Pave
Name: Street, Length: 1314, dtype: object

In [ ]:
X_train, X_test, Y_train, Y_test_split(X,Y, test_size = 0.2, random_state = 100)

NameError: ignored

# import data (y, predictor)

In [ ]:
from sklearn.preprocessing import LabelEncoder
y = np.array(Data_1['SaleCondition'])
print(y.shape)
print(type(y))
label_encoder= LabelEncoder()
y= label_encoder.fit_transform(Data_1['SaleCondition'])

(1314,)
<class 'numpy.ndarray'>

# splitting Dataset

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(Data_1['MSSubClass'], y, test_size=0.2, random_state=42)
print(x_train.shape)
print(x_test.shape)
print(y.shape)
print(y_train.shape)
print(y_test.shape)

x_train= x_train.values.reshape(-1,1)
x_test= x_test.values.reshape(-1,1)

(1051,)
(263,)
(1314,)
(1051,)
(263,)

# Linear regression

In [ ]:
lr= LinearRegression()
lrModel= lr.fit(x_train, y_train)

# Our Y prediction

In [ ]:
y_prediction= lrModel.predict(x_test)
print(y_prediction)

print(y_prediction.mean())

[3.80032562 3.77291049 3.78935957 3.78113503 3.78935957 3.78935957
 3.78113503 3.80032562 3.80032562 3.79210108 3.79210108 3.80032562
 3.79210108 3.78935957 3.80032562 3.79758411 3.77291049 3.80032562
 3.80032562 3.78935957 3.78935957 3.80032562 3.79210108 3.78935957
 3.80032562 3.80032562 3.80032562 3.77291049 3.78935957 3.80032562
 3.78935957 3.79758411 3.75371989 3.79210108 3.78935957 3.80032562
 3.79758411 3.78935957 3.80032562 3.78661805 3.80032562 3.80032562
 3.78935957 3.80032562 3.77291049 3.78935957 3.77291049 3.77291049
 3.77291049 3.79210108 3.80032562 3.80032562 3.79210108 3.80032562
 3.78387654 3.80032562 3.7852473  3.78387654 3.78935957 3.80032562
 3.79210108 3.80032562 3.80032562 3.78387654 3.80032562 3.78935957
 3.75646141 3.78387654 3.77291049 3.80032562 3.80032562 3.78935957
 3.80032562 3.76194443 3.78935957 3.79758411 3.80032562 3.80032562
 3.78935957 3.77291049 3.78661805 3.79210108 3.78935957 3.79210108
 3.79210108 3.78935957 3.78661805 3.78661805 3.77291049 3.80032562
 3.80032562 3.79210108 3.78113503 3.80032562 3.78935957 3.78935957
 3.78935957 3.78935957 3.77291049 3.79210108 3.79210108 3.80032562
 3.78935957 3.80032562 3.78935957 3.78935957 3.79758411 3.78935957
 3.79210108 3.75646141 3.78935957 3.78250578 3.80032562 3.77291049
 3.80032562 3.80032562 3.80032562 3.79210108 3.80032562 3.80032562
 3.80032562 3.78935957 3.80032562 3.78935957 3.77291049 3.80032562
 3.80032562 3.78935957 3.78935957 3.78935957 3.80032562 3.77291049
 3.79210108 3.79210108 3.78935957 3.79210108 3.79758411 3.78935957
 3.80032562 3.79210108 3.78935957 3.77291049 3.80032562 3.78387654
 3.80032562 3.78935957 3.78935957 3.76194443 3.78935957 3.78387654
 3.78387654 3.78935957 3.79758411 3.80032562 3.77291049 3.78935957
 3.80032562 3.80032562 3.78661805 3.80032562 3.76194443 3.77291049
 3.80032562 3.80032562 3.79210108 3.80032562 3.78935957 3.78935957
 3.78935957 3.80032562 3.75646141 3.80032562 3.78661805 3.79210108
 3.80032562 3.80032562 3.78935957 3.80032562 3.78935957 3.80032562
 3.78661805 3.79210108 3.78113503 3.79210108 3.77291049 3.7852473
 3.80032562 3.78661805 3.78935957 3.80032562 3.80032562 3.76194443
 3.78113503 3.77291049 3.75371989 3.75371989 3.80032562 3.80032562
 3.80032562 3.78113503 3.79210108 3.79758411 3.78935957 3.80032562
 3.77291049 3.76194443 3.80032562 3.80032562 3.78935957 3.76194443
 3.80032562 3.78387654 3.80032562 3.80032562 3.78935957 3.78250578
 3.76194443 3.79758411 3.77291049 3.80032562 3.78113503 3.79758411
 3.7852473  3.78250578 3.78113503 3.77291049 3.78113503 3.7852473
 3.78661805 3.77291049 3.79210108 3.80032562 3.78387654 3.78935957
 3.80032562 3.80032562 3.78935957 3.80032562 3.80032562 3.80032562
 3.75371989 3.80032562 3.79758411 3.78387654 3.80032562 3.80032562
 3.78661805 3.78661805 3.78113503 3.80032562 3.78661805 3.78935957
 3.80032562 3.77291049 3.79210108 3.80032562 3.78250578 3.79210108
 3.80032562 3.78935957 3.78387654 3.75371989 3.80032562]
3.789588896586402

# Mean Absolute Error

In [ ]:
MeanAbErr= mean_absolute_error(y_test, y_prediction)
MeanSqErr= mean_squared_error(y_test, y_prediction)
print(f'MeanAbErr: {MeanAbErr},MeanSqErr:{MeanSqErr}') # For Linear regression model

MeanAbErr: 0.6018275294527937,MeanSqErr:1.3971663390580027

# Evaluating r2 Score

In [ ]:
y_test_mean= np.full(len(y_test), y_test.mean()) # We are filling an array with y_test mean
print(y_test_mean)

[3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749
 3.69581749 3.69581749 3.69581749 3.69581749 3.69581749]

#END